<div class="row center">
   <div class="col l4 row">
    <p class="col l6">
      <label class="">
        <input name="group1" type="radio" value="all" [(ngModel)]="selectedrb" (change)="onselectedrbchanged()"class="with-gap" />
        <span routerLink ="/articles">All</span>
      </label>
    </p>
    <p class="col l6">
      <label>
        <input name="group1" type="radio" value="social"  [(ngModel)]="selectedrb" (change)="onselectedrbchanged()" class="with-gap"/>
        <span>Social</span>
      </label>
    </p>
   
    
   </div>
      <div class="col l4 row">
        <input id="icon_prefix" type="text" [(ngModel)]="txt">
        <button class="btn waves-effect waves-light col l12 red lighten-2" type="submit" name="action" (click)="search()">search
          <i class="material-icons right">search</i>
        </button>
      </div>
      <div class="col l4 row">
        <p class="col l6">
          <label>
            <input name="group1" type="radio" value="news"  [(ngModel)]="selectedrb" (change)="onselectedrbchanged()" class="with-gap"/>
            <span>News</span>
          </label>
        </p>
       
         <p class="col l6">
          <label>
            <input name="group1" type="radio" value="political"  [(ngModel)]="selectedrb" (change)="onselectedrbchanged()" class="with-gap"/>
            <span>Political</span>
          </label>
        </p>
      </div>
</div>
  

        